<!DOCTYPE html>
<html>
  <head>
    <title>Lecture 4 - Chat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-faded navbar-toggleable-md">
      <a class="navbar-brand" href="/">Navbar</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
 
      <% if !current_user %>
      <%= form_tag login_path, class:"form-inline" do %>
        <input name="username" class="form-control" type="text" placeholder="Username">
        <button class="btn btn-primary" type="submit">Login</button>
      <% end %>
      <% else %>
        <%= link_to "logout #{current_user}", logout_path %>
      <% end %>
    </nav>
    <div class="container">
      <%= flash_messages %>
      <%= yield %>
    </div>
  </body>
</html>
